:root {
  --font-default-color : #2b312c;
  --font-light-color : #45b787;
  --font-gray-color: #6E7783;
}
*{
  margin: 0;
  padding: 0;
}
html, body, #app{
  height: 100%;
  width: 100%;

}
a {
  text-decoration: none;
  color: var(--font-default-color);
}